.nji-main .nji-travel-image {
  position: relative;
  height: 100%;

  span {
    height: 100%;

    img {
      height: 100%;
    }
  }

  @media (max-width: 600px) {
    &.show-overlay .overlay {
      opacity: .5;
    }
    &.show-overlay .text-overlay {
      opacity: 1;
    }
  }

  @media (min-width: 601px) {
    &:hover .overlay {
      opacity: .5;
    }
    &:hover .text-overlay {
      opacity: 1;
    }
  }

  .overlay {
    max-height: 348px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: black;
  }

  .text-overlay {
    max-height: 348px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: inherit;
  }

  .alt-text, .location {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    width: 100%;
    text-align: center;
  }

  @media (max-width: 600px) {
    margin-bottom: -20px;
  }
}