.nji-topper {
  h3 {
    margin-left: -2px;
  }

  .nji-topper-header {
    background-color: #fafafa;
    border: none;
    margin-top: 15%;
  }

  img {
    width: 100%;
    border: 1px solid #777777;
  }
}