.nji-main .nji-topper {
  hr {
    margin-top: 30px;
  }
  
  h3 {
    margin-left: -2px;
  }

  .nji-topper-header {
    background-color: #fafafa;
    border: none;
    margin-top: 15%;
  }

  img {
    width: 100%;
    border: 1px solid #777777;
  }

  @media (max-width: 600px) {
    .nji-topper-header {
      margin-top: -20px;
      text-align: center;
    }
  }
}