.nji-main {
  padding-top: 30px;
  background-color: #fafafa;

  hr {
    margin-top: 50px;
  }

  .nji-main-tab {
    background-color: inherit;
    border: none;

    .MuiTab-textColorPrimary.Mui-selected {
      color: black;
    }

    .MuiTabs-indicator {
      background-color: #4B8188;
    }
  }

  .nji-bottom-message {
    font-size: 12px;
    text-align: right;
    padding-right: 25px;
  }

  div[role=tabpanel] .MuiGrid-spacing-xs-5 > .MuiGrid-item {
    padding: 15px;
  }

  @media (max-width: 600px) {
    .MuiBox-root {
      padding-left: 10px;
      padding-right: 10px;
    }
    padding-top: 20px;
    hr {
      margin-top: 30px;
    }
    .nji-bottom-message {
      margin-top: 15px;
    }
  }
}

